* {
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 20px;
}

.form_table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 60%;
  border-radius: 15px;
}

.form_table td {
  padding: 10px;
  border: none;
}

.form_table select,
.submit_btn {
  width: 100%;
  margin: auto;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.form_table select {
  height: 35px;
}

.submit_btn {
  background-color: #2e94ad;
  color: white;
  cursor: pointer;
  width: 40%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 15px;
}

.students_table {
    width: 60%;
    border-collapse: collapse;
    margin: auto;
  }
  
  .students_table th,
  .students_table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .students_table th {
    background-color: #f2f2f2;
  }
  
  .students_table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }


footer {
  background-color: #f9f9f9;
  padding: 10px;
  margin: auto;
  text-align: center;
  width: 60%;
  border-radius: 15px;
}

footer p {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .form_table td {
    display: block;
    width: 100%;
  }
  
  .form_table select,
  .form_table input[type="submit"] {
    width: 100%;
    margin-bottom: 10px;
  }
}
  